<div id="screen" ng-controller="RMET">
  <div id="content" class="RMET">
    
    <div ng-show="is_final()">
      Your response has been recorded, please wait for the other participants...
    </div>
    

    <div class="stimulus" ng-hide="is_final()">
      
      <!---------------------------------------------------------- 
         First option 
         --------------------------------------------------------->
         
      <div class="response_left" ng-hide="get_mode() == Mode_Central">
        <input type="radio" id="response1" name="response"
            class="answer"
            ng-model="responses[ prefix + trial.id ]"
            value="{{ trial.options[0] }}">
          <label for="response1">
          {{ trial.options[0] }}
          </label>
        </input>
      </div>
      
      <div class="response_left" ng-show="get_mode() == Mode_Central">
        <label for="response1">{{ trial.options[0] }}</label>
      </div>
        
      <!---------------------------------------------------------- 
         Second option 
         --------------------------------------------------------->      

      <div class="response_right" ng-hide="get_mode() == Mode_Central">
        <input type="radio" id="response2" name="response"
            class="answer"
            ng-model="responses[ prefix + trial.id ]"
            value="{{ trial.options[1] }}">
          <label for="response2">
          {{ trial.options[1] }}
          </label>
        </input>
      </div>

      <div class="response_right" ng-show="get_mode() == Mode_Central">
        <label for="response2">{{ trial.options[1] }}</label>
      </div>

      <!---------------------------------------------------------- 
         Stimulus 
         --------------------------------------------------------->   

      <div class="image">
        <canvas id="image" width="500px" height="197px">
      </div>

      <!---------------------------------------------------------- 
         Third option 
         --------------------------------------------------------->   

      <div class="response_left" ng-hide="get_mode() == Mode_Central">
        <input type="radio" id="response3" name="response"
            class="answer"
            ng-model="responses[ prefix + trial.id ]"
            value="{{ trial.options[2] }}">
          <label for="response3">
          {{ trial.options[2] }}
          </label>
        </input>
      </div>
      
      <div class="response_left" ng-show="get_mode() == Mode_Central">
        <label for="response3">{{ trial.options[2] }}</label>
      </div>      
      
      <!---------------------------------------------------------- 
         Fourth option 
         --------------------------------------------------------->         
      
      <div class="response_right" ng-hide="get_mode() == Mode_Central">
        <input type="radio" id="response4" name="response"
            class="answer"
            ng-model="responses[ prefix + trial.id ]"
            value="{{ trial.options[3] }}">
          <label for="response4">
          {{ trial.options[3] }}
          </label>
        </input>
      </div>
      
      <div class="response_right" ng-show="get_mode() == Mode_Central">
        <label for="response4">{{ trial.options[3] }}</label>
      </div>      
      
    </div>

    <!---------------------------------------------------------- 
        Emotion definitions 
        --------------------------------------------------------->
             
    <div class="definitions">
      <span class="definitions">Definitions</span>

      <div class="options">
        <!-- Show list of emotions in this trial -->
        <span ng-repeat="option in trial.options" class="option">
          <input type="radio" id="{{ option }}" name="emotion"
              class="emotion"
              ng-change="mark_definition_request()"
              ng-model="responses[prefix + 'Definition']"
              value="{{ option }}">
          </input>

          <label for="{{ option }}">
            {{ option | capitalize }}
          </label>
        </span>
      </div>

      <br />

      <!-- Show definition -->
      <div ng-show="responses[prefix + 'Definition']" class="definition">
        <b>{{ descriptions[responses[prefix + 'Definition']].emotion }}:</b>
        {{ descriptions[responses[prefix + 'Definition']].description }}. <br />
        <span class="sentence">{{ descriptions[responses[prefix + 'Definition']].sentence }}</span>
      </div>

    </div>
  </div>

  <div ng-show="get_mode() == Mode_Individual" 
    id="footer" ng-include="'templates/buttons.html'"></div>
    
  <div ng-show="get_mode() == Mode_Peripheral" id="footer">
    <div class="buttons">
      <!--<button id="button_previous" class="navigation" ng-click="previous()" ng-class="{enabled: is_previous_allowed()}">Previous</button>-->
      <button id="button_next" class="navigation" ng-click="set_final()">Next</button>
    </div>
  </div>
</div>
